<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiConstInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.platform.entity.ConstInfoVo" id="constInfoMap">
		<result property="id" column="id"/>
		<result property="key" column="key"/>
		<result property="value" column="value"/>
		<result property="remark" column="remark"/>
	</resultMap>

    <!-- 根据key，查询value -->
    <select id="queryByStringKey" parameterType="string" resultType="string">
		select value from const_info where `key` = #{key}
	</select>

	<!-- 根据key，查询value -->
	<select id="queryByIntKey" parameterType="string" resultType="int">
		select value from const_info where `key` = #{key}
	</select>

	<!-- 配置列表 -->
	<select id="queryList" resultMap="constInfoMap">
		select * from const_info
	</select>

    <!-- 根据key，更新value -->
    <update id="updateValueByKey" parameterType="map">
		update const_info set `value` = #{value} where `key` = #{key}
	</update>

</mapper>
