<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiUserForageMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.UserForageVo" id="forageMap">
        <result property="id" column="id"/>
        <result property="forageId" column="forage_id"/>
        <result property="grade" column="grade"/>
        <result property="userId" column="user_id"/>
        <result property="forageName" column="forage_name"/>
        <result property="forageDesc" column="forage_desc"/>
        <result property="imgName" column="img_name"/>
        <result property="fightingNum" column="fighting_num"/>
        <result property="forageType" column="forage_type"/>
        <result property="isIgnoreTalent" column="is_ignore_talent"/>
        <result property="forageNum" column="forage_num"/>
        <result property="isNft" column="is_nft"/>
        <result property="isDraw" column="is_draw"/>
        <result property="isFreeze" column="is_freeze"/>
        <result property="nftId" column="nft_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--查询某个饲料详情-->
    <select id="queryObject" resultMap="forageMap">
		select * from oil_user_forage where id = #{value}
	</select>

    <!--查询饲料列表-->
    <select id="queryList" resultMap="forageMap">
        select * from oil_user_forage
        <where>
            <if test="forageType != null">
                AND forage_type = #{forageType}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by distance asc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!--查询饲料总数-->
    <select id="queryTotal" resultType="int">
        select count(1) from oil_user_forage
        <where>
            <if test="forageType != null">
                AND forage_type = #{forageType}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
    </select>

    <!--查询某个饲料详情-->
    <select id="queryObjectByUser" resultMap="forageMap">
        select * from oil_user_forage where id = #{id} and user_id = #{userId}
    </select>

    <insert id="save" parameterType="com.platform.entity.UserForageVo" useGeneratedKeys="true" keyProperty="id">
        insert into oil_user_forage
        (
            `forage_id`,
            `grade`,
            `user_id`,
            `forage_name`,
            `forage_desc`,
            `img_name`,
            `fighting_num`,
            `forage_type`,
            `is_ignore_talent`,
            `forage_num`,
            `create_time`
        )
        values
        (
            #{forageId},
            #{grade},
            #{userId},
            #{forageName},
            #{forageDesc},
            #{imgName},
            #{fightingNum},
            #{forageType},
            #{isIgnoreTalent},
            #{forageNum},
            #{createTime}
        )
    </insert>

    <update id="receiveRewards" parameterType="java.util.Map">
        update oil_user_forage
        <set>
            <if test="awardNum >= 0">`forage_num` = forage_num + #{awardNum}</if>
        </set>
        where forage_id = #{forageId} and user_id = #{userId}
    </update>

    <update id="makeUseOf" parameterType="java.util.Map">
        update oil_user_forage
        <set>
            <if test="useNum >= 0">`forage_num` = forage_num - #{useNum}</if>
        </set>
        where forage_id = #{forageId} and user_id = #{userId} and forage_num > 0
    </update>

    <select id="allList" resultMap="forageMap">
        select * from oil_user_forage where 1 = 1 and forage_num > 0 and user_id = #{userId} order by grade desc,fighting_num desc
    </select>

    <select id="queryListByMap" resultMap="forageMap">
        select * from oil_user_forage where 1 = 1 and forage_num > 0
        <if test="forageType != null">
            and `forage_type` = #{forageType}
        </if>
        <if test="userId != null">
            and `user_id` = #{userId}
        </if>
    </select>

    <delete id="deleteByUser">
        delete from oil_user_forage where user_id = #{userId} and id = #{id}
    </delete>

    <update id="updateNFT" parameterType="java.util.Map">
        update oil_user_forage
        <set>
            <if test="isNft != null">`is_nft` = #{isNft},</if>
            <if test="isDraw != null">`is_draw` = #{isDraw},</if>
            <if test="isFreeze != null">`is_freeze` = #{isFreeze},</if>
            <if test="nftId != null">`nft_id` = #{nftId},</if>
            <if test="updateTime != null">`update_time` = #{updateTime}</if>
        </set>
        where id = #{id} and user_id = #{userId}
    </update>

</mapper>
